@media (min-width:768px) {

    .section_restaurant {
        display: flex;
        flex-direction: column;

        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: auto;

            &__card {
                max-width: 335px;

            }
        }
    }
}

@media (min-width:992px) {
    .section_fonctionnement__list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        &__btn {
            width: 26%;
        }
    }

    .footer {
        text-align: center;
    }

    .section_menu {
        &__all {
            display: flex;
            justify-content: space-around;
        }

        &__entrees,
        &__plats,
        &__desserts {
            width: 30%;
        }
    }

}