@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin gradient {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
}


@mixin box-shadow {
    box-shadow: 4px 5px 5px lightgray;
}


@mixin btn {

    @include gradient();
    @include box-shadow();
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border: none;
    transition: 250ms;
    cursor: pointer;
    text-align: center;
    max-width: 250px;
    margin-top: 10px;

    &:hover {

        box-shadow: 8px 8px 2px #acabab;
        filter: brightness(120%);
    }
}

@mixin link ($colour) {
    text-decoration: none;
    color: $colour;
}